@import "variables";
@import "card";
@import "cardForm";
@import "confirmedCard";

.app{
    width: 100vw;
    min-height: 100vh;
    background-image: url(../assets/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
@media (min-width:376px) and (max-width:992px){
    .app{
        background-repeat: repeat-x;
    }
}
@media (min-width:992px){
    .app{
        width: 90vw;
        background-image: url(../assets/images/bg-main-desktop.png);
        background-size: contain;
        flex-direction: row;
        padding-left: 10vw;
        gap:5%;
        justify-content: flex-start;
        align-items: center;
    }
}